name: Docker Image

on:
  release:
    types: [published]

env:
  IMAGE_NAME: plan_executor
  
jobs:
  main:
    if: github.repository == 'incendilabs/plan-executor'
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_ORGANIZATION }}/${{ env.IMAGE_NAME }}:latest
            ${{ secrets.DOCKERHUB_ORGANIZATION }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
